<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span class="span-logo">Conecta con nosotros en nuestras redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/Naturquinoa/" target="_blank" class="me-4 text-reset">
          <i class="fa fa-facebook-f logo" style="font-size: 20px;" aria-label="Facebook"></i>
        </a>
        <a href="https://twitter.com/naturquinoa?lang=es" target="_blank" class="me-4 text-reset">
          <i  class="fa fa-twitter logo" style="font-size: 20px;" aria-label="Twitter"></i>
        </a>
        
        <a href="https://www.instagram.com/naturquinoa/" target="_blank" class="me-4 text-reset">
          <i class="fa fa-instagram logo" style="font-size: 20px;" aria-label="Instagram"></i>
        </a>
        <a href="https://www.linkedin.com/company/naturquinoa/" target="_blank" class="me-4 text-reset">
          <i class="fa fa-linkedin logo" style="font-size: 20px;" aria-label="Linkedin"></i>
        </a>
        
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h4 class="text-uppercase fw-bold mb-4 text-center">
              <i class="fas fa-gem me-3 "></i>NATURQUINOA
            </h4>
            <p class="text-center">
              Servimos ingredientes, productos y servicios alimentarios que  permiten satisfacer las necesidades, demandas e intereses de sus
               clientes y aumentan el valor de sus propuestas.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h4 class="text-uppercase fw-bold mb-4">
              Información
            </h4>
            <p>
              <a href="https://naturquinoa.com/" class="text-reset" target="_blank">Naturquinoa</a>
            </p>
            <p>
              <a href="https://naturquinoa.com/productos/" class="text-reset" target="_blank">Productos</a>
            </p>
            <p>
              <a href="https://naturquinoa.com/nosotros/" class="text-reset" target="_blank">Nosotros</a>
            </p>
            <p>
              <a href="https://naturquinoa.com/contacto/" class="text-reset" target="_blank">Contacto</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h4 class="text-uppercase fw-bold mb-4">
               links útiles
            </h4>
            <p>
              <a href="https://naturquinoa.com/productos/" class="text-reset" target="_blank">Profesionales</a>
            </p>
            <p>
              <a href="https://naturquinoa.com/contacto/#news" class="text-reset" target="_blank">Newsletter</a>
            </p>
            <p>
              <a href="https://nqtakeaway.com/" class="text-reset" target="_blank">NQ Take away</a>
            </p>
            <p>
              <a href="https://naturquinoa.com/politica-de-privacidad/" class="text-reset" target="_blank">Política de privacidad</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h4 class="text-uppercase fw-bold mb-4">Contacto</h4>
            <p><i class="fa fa-home me-3" style="color:#9B5C9C;"></i>C/Lope de Vega,4.<br>San Fernando de Henares
                28830 (Madrid)</p>
            <p>
              <i class="fa fa-envelope me-3" style="color:#9B5C9C;"></i>
               <a id="email" href="mailto:info@naturquinoa.com">info&#64;naturquinoa.com</a>
            </p>
            <p><i class="fa fa-phone me-3" style="color:#9B5C9C;"></i> + 34 910 11 95 85</p>
            <p><i class="fa fa-mobile me-3" style="color:#9B5C9C;"></i> + 34 699 73 00 80</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <a href="https://wa.me/34555005500/?text=Buenos%20días,%20estoy%20interesado/a%20en" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/512px-WhatsApp.svg.png" alt="logo de whatsapp" width="70" height="70" style="background-color: transparent;">
        <p>Whatsapp</p>
     </a>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4 copy">
      <p>© 2024 Copyright</p>
    </div>
    <!-- Copyright -->
  </footer>
