<div class="container mt-5">
    <h2 id="testimonios" class="container">Testimonios de nuestros consumidores:</h2>
    <div id="carouselExampleCaptions" class="carousel slide col-auto " data-bs-ride="carousel">
      <div class="carousel-indicators nombre_testimonio">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>
  
      <div class="carousel-inner " id="carruselDiv">
        <div class="carousel-item active">
          <div class="container mt-5 mb-3">
            <img src="../assets/images/carrusel01.jpg" class="mx-auto d-block w-20 prueba_foto" alt="panadero con una bandeja de pan en la mano" style="max-height: 250px;">
          </div>
          <div class="container">
            <div class="  mx-auto d-block w-30 carruselTextos">
              <h2 class="">Antonio:</h2>
              <p  class="carruselTextos texto">En la tahona Sicilia 1920 tenemos mucha variedad de panes con quinoa, barras normales, integrales, de semillas,
                centeno y muchísimas más, si quieres ver todo lo que ofrecemos, está en nuestra página web, que no tiene ningún errorcito.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container mt-5 mb-3">
            <img src="../assets/images/carrusel02.jpg" class="mx-auto d-block w-20 prueba_foto" alt="mujer joven con un bol de cereales en las manos" style="max-height: 250px;">
          </div>
          <div class="container">
            <div class=" mx-auto d-block w-30 carruselTextos ">
              <h2 class="">Virginia:</h2>
              <p  class="carruselTextos texto">Lo favorecedor de estos cereales, es que han venido a dar opciones creativas a la hora de
                comer y a cambiar hábitos alimenticios por otros quizás más sanos que los que teníamos en el país.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container mt-5 mb-3">
            <img src="../assets/images/carrusel03.jpg" class="mx-auto d-block w-20 prueba_foto " alt="chico joven en un bosque con los brazos cruzados" style="max-height: 250px;">
          </div>
          <div class="container">
            <div class=" mx-auto d-block w-30 carruselTextos">
              <h2 class="">Antonio:</h2>
              <p  class="carruselTextos texto">Soy celíaco y buscaba algo que se adecuase a mi dieta y me ayudase a complementarla.
                Desde que descubrí la quinoa de Naturquinoa, todo ha cambiado y soy inmensamente feliz.
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container mt-5 mb-3">
            <img src="../assets/images/carrusel04.jpg" class="mx-auto d-block w-20 prueba_foto" alt="mujer embarazada sonriendo" style="max-height: 250px;">
          </div>
          <div class="container">
            <div class=" mx-auto d-block w-30 carruselTextos">
              <h2 class="">Ainhoa:</h2>
              <p  class="carruselTextos texto">Mi médico obstetra me recomendó la quinoa como complemento para una dieta saludable durante mi
                embarazo.
                Me facilita controlar el nivel de colesterol, el control del peso, y es rica en proteínas. Estoy encantada
                con haber descubierto este producto.
              </p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
