/* @font-face {
  font-family: 'Merienda', cursive;
  src: url('./assets/fonts/static/Merienda-ExtraBold.ttf');
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --accordion-color: rgb(11, 160, 36);
  --bkg-color: #fff;
  --btn-bg-color: rgb(11, 88, 160);
  --btn-txt-color: white;
  --company-color:#9B5C9C;
  --text-color: #222;
  background: var(--bkg-color);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* body.dark-theme {
  --text-color: #eee;
  --bkg-color: #252222;
  --btn-txt-color: rgb(46, 43, 43);
  --btn-bg-color: rgb(20, 211, 195);
  --accordion-color: rgb(30, 4, 106);
} */

body.dark-theme {
  --accordion-color: rgb(144, 255, 219); /* Un tono más claro que el anterior verde oscuro */
  --bkg-color: #222; /* Antes era claro (#fff), ahora es oscuro */
  --btn-bg-color: rgb(144, 167, 255); /* Un tono más claro que el anterior azul oscuro */
  --btn-txt-color: black; /* Antes era claro (white), ahora es oscuro */
  --text-color: #ddd; /* Antes era oscuro (#222), ahora es claro */
}


.navbar-text{
  color: var(--company-color);
  font-size: 1.2rem;
}
.text-uppercase{
  color: var(--company-color);
}

a {
  color: black; 
  text-decoration: none; 
}
a:hover {
  color: black; 
  text-decoration: underline; 
}

.logo:hover{
  color: var(--company-color);
}

h1,
p, 
.mdc-label, 
#email {
  color: var(--text-color);
  
}
button {
  background-color: var(--btn-bg-color);
  border-radius: 2px;
  border: none;
  color: var(--btn-txt-color);
  padding: 10px;
}

.accordion-button{
    background-color: var(--accordion-color);
    color: rgb(234, 234, 11);
}


#accordionExample{
    margin: 0 auto;
    text-align: center;
    width: 70%;
}


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 */


